@import "variables";

nav{
  background-color: $blue;
  height: 75px;
  display: flex;
  align-items: center;

  ul{
    margin: 0 auto;
    padding: 0 20px;
  }

  li{
    display: inline-block;
    margin-right: 120px;
    position: relative;

    &:last-of-type{
      margin-right: 0;
    }

    a{
      display: grid;
      justify-content: center;
      margin: 0 auto;

      &:hover div,
      &:hover span{
        opacity: .8;
      }

      div{
        height: 35px;
        width: 35px;
        margin: 0 auto;
      }

      span{
        color: rgba(255,255,255,.9);
        border-radius: 3px;
        font-size: 15px;
        white-space: nowrap;
        display: block;
        margin-top: 5px;
      }
    }


    &:nth-of-type(1) a div{
      background: url("../../resources/images/design_white.png") center no-repeat;
      background-size: 30px;
    }
    &:nth-of-type(2) a div{
      background: url("../../resources/images/microcredential_white.png") center no-repeat;
      background-size: 30px;
    }
    &:nth-of-type(3) a div{
      background: url("../../resources/images/blended_white.png") center no-repeat;
      background-size: 30px;
    }
    &:nth-of-type(4) a div{
      background: url("../../resources/images/courses_white.png") center no-repeat;
      background-size: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 70px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    li {
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 620px) {
  nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    height: 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    li{
      margin-right: 40px;
      a{
        div{
          width: 30px;
          height: 30px;
        }
        span{
          display: none;
        }
      }
    }
  }
}