@import "variables";
@import "base";
@import "header";
@import "nav";
@import "forms";
@import "footer";

@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500&display=swap');

.separator{
  border-top: 7px solid $green;
}

.content-wrapper-s{
  width: 1300px;
  margin: 5px auto;

  #welcome-text{
    text-align: center;
    padding: 80px 0 50px 0;
    color: $blue;

    h2{
      font-size: 40px;
    }

    p{
      margin-top: 20px;
      font-size: 20px;
      padding: 0 30px;
    }
  }

  .button{
    display: inline-block;
    margin-top: 50px;
    background: $light-blue;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover{
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
  }
}

#slider{
  padding: 0 40px;
  margin: 20px 0;
}

#reviews{
  margin: 70px 0 0 0;
  border-top: 1px solid $grey;

  article{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 2fr;

    img{
      padding: 50px 0 50px 50px ;
      width: 100%;
    }

    div{
      padding: 50px;

      p{
        font-size: 22px;
        line-height: 28px;
      }

      span{
        display: block;
        text-align: right;

        &:nth-of-type(1){
          margin-top: 15px;
          font-size: 20px;
          font-weight: 500;
          font-style: italic;
          color: $blue;
        }

        &:nth-of-type(2){
          font-size: 16px;
          color: $orange;
        }
      }
    }
  }
}

#contact {
  h3 {
    text-align: center;
    width: 100%;
    background-color: $purple;
    padding: 20px;
    color: #ffffff;
  }

  form {
    width: 900px;
    padding: 50px 20px 20px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    div {
      &:nth-of-type(4) {
        grid-column-start: 2;
        grid-row-start: 1;
      }

      textarea {
        grid-row-end: span 3;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .content-wrapper-s {
    width: 80%;
  }

  #contact {
    form {
      width: 90%;
      div{
        &:nth-of-type(4){
          grid-column-start: 2;
          grid-row-start: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .content-wrapper-s {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #reviews{
    article{
      div{
        p{
          padding-top: 30px;
          font-size: 18px;
        }
      }
    }
  }

  #contact {
    form {
      width: 90%;
      div{
        &:nth-of-type(4){
          grid-column-start: 2;
          grid-row-start: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .content-wrapper-s {
    #welcome-text {
      padding-top: 50px;

      h2 {
        font-size: 35px;

        span {
          &:first-of-type {
            font-size: 30px;
          }

          display: block;
        }
      }

      p {
        font-size: 18px;
        padding: 0 20px;
      }
    }
  }

  #reviews {
    article {
      grid-template-columns: 1fr;

      img {
        padding: 30px;
      }

      div {
        padding: 0 30px 30px 30px;

        p {
          padding-top: 0;
          text-align: justify;
        }
      }
    }
  }

  #contact {
    h3 {
      span {
        display: block;

        &:not(:last-of-type) {
          margin-bottom: 2px;
        }
      }
    }

    form {
      display: block;

      textarea {
        height: 200px;
      }
    }
  }
}
